.Home {
  text-align: left;
}

.Home-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #63da63;
}

/**
 * Button start
 */
.Home-continue-button {
  background-color: #63da63;
  color: white;
  font-size: calc(8px + 2vmin);
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  padding: 15px 32px;
  border-radius: 32px;
  transition-duration: 0.4s;
  border: 0px;
}

.Home-continue-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Home-continue-button:active {
  background-color: white;
  color: #63da63;
}
/**
 * Button end
 */

.Home-image-container {
  position: relative;
  text-align: center;
}

.Home-image {
  aspect-ratio: 1920 / 1271;
  width: 100%;
  height: undefined;
  
}

.Home-image-text {
  font-size: calc(12px + 10vmin);
  color: #63da63;
}

.Home-image-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}